@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>I am a new developer learning about .Net Core</p>

<p>Possibly this project may be called Electric E.E.L.
    for Electric Entry Eliminating Lock, but an E word that means prohibit.
    B.G and A.G. came up with that name.</p>
